@model IEnumerable<JABlog.Models.BlogPost>
@using JABlog.Enums;
@using JABlog.Services.Interfaces

@inject IImageService _ImageService
@inject IBlogPostService _blogPostService
@{
    ViewData["Title"] = "Home";
}
<!-- Start Author Area  -->
<partial name="_AuthorArea" />
<!-- End Author Area  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Articles written by Jacob Apple</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @*Foreach BlogPost*@

                @foreach (var blogPost in Model)
                {
                    <partial name="_BlogCard" model="@blogPost"/>
                }

            </div>
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_Sidebar" />
            </div>
        </div>
    </div>
</div>
